In [187]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [188]:
df = pd.read_csv('data_science_competition_2024.csv')
df.head()

,Unnamed: 0,loan_id,gender,disbursemet_date,currency,country,sex,is_employed,job,location,loan_amount,number_of_defaults,outstanding_balance,interest_rate,age,number_of_defaults.1,remaining term,salary,marital_status,age.1,Loan Status
0,0,8d05de78-ff32-46b1-aeb5-b3190f9c158a,female,2022 10 29,USD,Zimbabwe,female,True,Teacher,Beitbridge,39000.0,0,48653.011473,0.22,37,0,47,3230.038869,married,37,Did not default
1,1,368bf756-fcf2-4822-9612-f445d90b485b,other,2020 06 06,USD,Zimbabwe,other,True,Teacher,Harare,27000.0,2,28752.062237,0.20,43,2,62,3194.139103,single,43,Did not default
2,2,6e3be39e-49b5-45b5-aab6-c6556de53c6f,other,2023 09 29,USD,Zimbabwe,other,True,Nurse,Gweru,35000.0,1,44797.554126,0.22,43,1,57,3330.826656,married,43,Did not default
3,3,191c62f8-2211-49fe-ba91-43556b307871,female,2022 06 22,USD,Zimbabwe,female,True,Doctor,Rusape,24000.0,0,35681.496413,0.23,47,0,42,2246.797020,divorced,47,Did not default
4,4,477cd8a1-3b01-4623-9318-8cd6122a8346,male,2023 02 08,USD,Zimbabwe,male,True,Nurse,Chipinge,19000.0,0,34156.055882,0.20,42,0,45,2310.858441,married,42,Did not default

In [189]:

df.drop(['Unnamed: 0', 'loan_id'], axis=1, inplace=True)

In [190]:
df.shape

(100000, 19)

In [191]:
df.value_counts()

gender  disbursemet_date  currency  country   sex     is_employed  job                 location  loan_amount  number_of_defaults  outstanding_balance  interest_rate  age  number_of_defaults.1  remaining term  salary       marital_status  age.1  Loan Status
female  2020 01 01        USD       Zimbabwe  female  True         Accountant          Chipinge  11000.0      1                   27707.282179         0.20           52   1                     57              2167.382256  single          52     Did not default    1
male    2023 11 15        USD       Zimbabwe  male    True         Engineer            Bulawayo  20000.0      0                   32870.547675         0.21           44   0                     54              2463.843177  married         44     Did not default    1
                                                                   Nurse               Karoi     24000.0      0                   39885.927140         0.20           47   0                     49              2354.759052  married         47     Did not default    1
                                                                                       Harare    43000.0      0                   45770.958679         0.21           52   0                     43              2331.548544  single          52     Did not default    1
                                                                                                 32000.0      1                   53618.152515         0.21           50   1                     52              2557.684744                  50     Defaulted          1
                                                                                                                                                                                                                                                                       ..
        2020 01 20        USD       Zimbabwe  male    True         Nurse               Karoi     24000.0      0                   30047.410828         0.22           39   0                     43              2348.982210  divorced        39     Defaulted          1
                                                                                       Chivhu    41000.0      0                   36301.553942         0.20           53   0                     44              2295.331869  single          53     Did not default    1
                                                                                       Bulawayo  14000.0      0                   28316.704200         0.23           44   0                     50              2256.493747  married         44     Did not default    1
                                                                   Engineer            Masvingo  16000.0      1                   30505.091103         0.22           41   1                     68              2941.071462  married         41     Did not default    1
other   2023 12 31        USD       Zimbabwe  other   True         Software Developer  Masvingo  36000.0      0                   42325.393732         0.21           47   0                     55              2957.952499  married         47     Did not default    1
Name: count, Length: 95204, dtype: int64

In [192]:
df.isna().sum()

gender                     0
disbursemet_date           0
currency                   0
country                  100
sex                        0
is_employed                0
job                     4136
location                 595
loan_amount                0
number_of_defaults         0
outstanding_balance        0
interest_rate              0
age                        0
number_of_defaults.1       0
remaining term             0
salary                     0
marital_status             0
age.1                      0
Loan Status                0
dtype: int64

In [193]:
df.country.value_counts()

country
Zimbabwe    99787
zimbabwe      100
Zim            13
Name: count, dtype: int64

In [194]:
# function to correct spelling
def consistent_column_spelling(column, current_label, correctlabel):
    df.loc[df[column]== current_label, column] = correctlabel

In [195]:
# make the country columns consistent by setting them to zimbabwe
consistent_column_spelling('country', 'Zimbabwe', 'zimbabwe')
consistent_column_spelling('country', 'Zim', 'zimbabwe')
df.country.value_counts()

country
zimbabwe    99900
Name: count, dtype: int64

In [196]:
df.dtypes

gender                   object
disbursemet_date         object
currency                 object
country                  object
sex                      object
is_employed                bool
job                      object
location                 object
loan_amount             float64
number_of_defaults        int64
outstanding_balance     float64
interest_rate           float64
age                       int64
number_of_defaults.1      int64
remaining term           object
salary                  float64
marital_status           object
age.1                     int64
Loan Status              object
dtype: object

In [197]:
df.job.value_counts()

job
Engineer              16524
Nurse                 15284
Data Analyst          13204
Doctor                12186
Software Developer    11932
Teacher                8950
Accountant             7802
SoftwareDeveloper      3564
Data Scientist         3521
Lawyer                 2862
Data Scintist            35
Name: count, dtype: int64

In [198]:
# consistent spelling value for job column
consistent_column_spelling('job', 'Data Scintist', 'Data Scientist')
consistent_column_spelling('job', 'SoftwareDeveloper', 'Software Developer')
df.job.value_counts()

job
Engineer              16524
Software Developer    15496
Nurse                 15284
Data Analyst          13204
Doctor                12186
Teacher                8950
Accountant             7802
Data Scientist         3556
Lawyer                 2862
Name: count, dtype: int64

In [199]:
df.gender.value_counts()

gender
male      35028
female    32685
other     32287
Name: count, dtype: int64

In [200]:
df.currency.value_counts()

currency
USD     99980
$USD       20
Name: count, dtype: int64

In [201]:
consistent_column_spelling('currency', '$USD', 'USD')

In [202]:
pd.set_option('display.max_columns', None)
print(df.location.value_counts().to_string())

location
Harare                8338
Bulawayo              8078
Mutare                8062
Gweru                 7803
Masvingo              7476
Marondera             7343
Rusape                6378
Chivhu                6257
Plumtree              5431
Beitbridge            5181
Chipinge              4358
Chimanimani           4296
Kwekwe                3401
Chiredzi              3123
Kadoma                3049
Nyanga                2099
Karoi                 1850
Shurugwi              1322
Zvishavane            1276
Gokwe                  901
Kariba                 652
Victoria Falls         211
Redcliff               187
 Masvingo               48
   Harare               44
Hwange                  41
Harare                  40
   Mutare               39
 Mutare                 37
Harare                  36
 Bulawayo               34
   Gweru                34
   Bulawayo             33
 Gweru                  33
   Mutare               33
   Harare               33
Bulawayo                33
   Masvingo             32
   Beitbridge           32
   Masvingo             32
Gweru                   32
Marondera               32
 Harare                 31
 Harare                 31
Mutare                  31
   Marondera            30
Chivhu                  30
 Marondera              30
Masvingo                30
   Bulawayo             30
 Mutare                 30
Mutare                  30
   Gweru                30
Gweru                   29
 Chivhu                 29
 Chivhu                 28
 Bulawayo               28
 Marondera              28
Bulawayo                27
   Marondera            27
   Chivhu               27
Rusape                  26
Rusape                  25
   Chivhu               25
Masvingo                25
Beitbridge              24
   Rusape               24
 Plumtree               24
 Plumtree               24
Marondera               23
 Masvingo               22
 Gweru                  22
   Beitbridge           22
 Beitbridge             21
   Chipinge             20
Plumtree                20
   Chimanimani          20
   Plumtree             19
   Rusape               18
 Chimanimani            18
   Kwekwe               18
 Rusape                 18
Plumtree                18
 Beitbridge             17
 Rusape                 17
Kwekwe                  17
Kwekwe                  17
 Chipinge               16
 Chimanimani            16
   Plumtree             16
 Chipinge               16
Chimanimani             16
 Kadoma                 16
 Kwekwe                 15
   Chiredzi             15
Chivhu                  15
Kadoma                  15
 Kadoma                 15
Chipinge                15
   Chiredzi             14
Beitbridge              14
 Chiredzi               14
 Kwekwe                 13
Chiredzi                12
   Kadoma               12
   Chipinge             12
   Chimanimani          11
   Karoi                11
Chimanimani             11
 Chiredzi               11
Chipinge                10
Chiredzi                10
   Kwekwe               10
Karoi                    9
Shurugwi                 9
 Karoi                   9
Nyanga                   9
 Nyanga                  8
   Nyanga                8
Nyanga                   8
 Shurugwi                7
 Karoi                   7
   Gokwe                 7
Karoi                    7
   Karoi                 6
Zvishavane               6
Shurugwi                 6
 Zvishavane              6
 Gokwe                   6
   Shurugwi              6
Zvishavane               6
   Kadoma                6
Kadoma                   5
   Nyanga                5
 Shurugwi                5
 Nyanga                  5
   Zvishavane            4
   Shurugwi              4
Kariba                   4
Kariba                   4
 Kariba                  3
 Kariba                  3
   Victoria Falls        3
   Redcliff              3
   Kariba                3
   Kariba                2
 Gokwe                   2
 Victoria Falls          2
Gokwe                    2
 Zvishavane              2
   Zvishavane            1
 Victoria Falls          1
 Redcliff                1
Victoria Falls           1
Victoria Falls           1
   Gokwe                 1
Gokwe                    1

In [203]:
df['location'] = df['location'].str.strip()

# convert lowercase
df['location'] = df['location'].str.lower()

# Create a dictionary to map incorrect variations to correct values
mapping = {
    'harare': 'Harare',
    'bulawayo': 'Bulawayo',
    'mutare': 'Mutare',
    'gweru': 'Gweru',
    'masvingo': 'Masvingo',
    'marondera': 'Marondera',
    'rusape': 'Rusape',
    'chivhu': 'Chivhu',
    'plumtree': 'Plumtree',
    'beitbridge': 'Beitbridge',
    'chipinge': 'Chipinge',
    'chimanimani': 'Chimanimani',
    'kwekwe': 'Kwekwe',
    'chiredzi': 'Chiredzi',
    'kadoma': 'Kadoma',
    'nyanga': 'Nyanga',
    'karoi': 'Karoi',
    'shurugwi': 'Shurugwi',
    'zvishavane': 'Zvishavane',
    'gokwe': 'Gokwe',
    'kariba': 'Kariba',
    'victoria falls': 'Victoria Falls',
    'redcliff': 'Redcliff',
    'hwange': 'Hwange'
}

# Replace incorrect values using the mapping dictionary
df['location'] = df['location'].replace(mapping)


print(df['location'].value_counts())

location
Harare            8553
Bulawayo          8263
Mutare            8262
Gweru             7983
Masvingo          7665
Marondera         7513
Rusape            6506
Chivhu            6411
Plumtree          5552
Beitbridge        5311
Chipinge          4447
Chimanimani       4388
Kwekwe            3491
Chiredzi          3199
Kadoma            3118
Nyanga            2142
Karoi             1899
Shurugwi          1359
Zvishavane        1301
Gokwe              920
Kariba             671
Victoria Falls     219
Redcliff           191
Hwange              41
Name: count, dtype: int64

In [204]:
print(df['remaining term'].value_counts().to_string())

remaining term
51       3329
49       3321
53       3314
54       3276
50       3220
52       3205
55       3109
47       3103
48       3043
46       2983
56       2963
57       2960
58       2780
59       2764
45       2745
44       2620
60       2549
43       2463
61       2391
42       2337
62       2216
41       2118
63       2010
40       1941
64       1875
65       1806
39       1712
66       1556
38       1522
67       1487
37       1374
68       1289
36       1222
69       1135
70       1074
35       1023
71        981
34        929
72        850
33        776
73        761
74        695
32        613
75        557
31        533
76        501
30        464
77        418
78        383
29        367
28        335
79        318
80        281
27        243
81        229
82        209
83        196
26        177
25        159
84        154
24        126
85        112
86        110
23         98
88         87
22         82
87         78
48_        77
50         74
55_        74
50_        72
47         68
51         64
52         64
89         64
56         64
59_        63
57         63
49_        61
51_        60
21         60
49         60
53         60
45_        59
52_        59
47_        59
56_        58
55         58
46_        57
53_        57
57_        56
58_        56
54         54
62         54
58         54
60         54
46         53
59         52
44_        52
44         51
20         51
43         50
91         49
54_        49
60_        48
90         47
48         47
39         45
63_        44
43_        44
42_        44
45         44
61_        43
41_        43
61         43
64         42
40_        38
65         38
39_        38
92         38
40         38
62_        37
42         36
64_        36
65_        35
41         35
67         34
19         34
18         31
69_        30
35_        29
63         29
66_        27
93         27
68_        27
95         27
38         26
34_        26
36         25
66         25
38_        25
37_        25
37         24
67_        23
69         22
17         21
34         21
94         21
71         20
96         19
70_        18
32_        17
36_        17
16         17
70         16
97         16
32         15
68         15
73_        14
71_        14
30         13
72         13
33_        13
30_        13
73         12
77_        12
74         12
98         11
74_        11
102        11
75         11
15         10
76         10
99         10
78_         9
77          8
31          8
27_         8
35          8
72_         8
31_         8
76_         8
82          8
33          8
9           7
100         7
80          7
103         7
27          7
28          7
14          7
105         7
11          7
75_         7
78          6
29_         6
84          6
26          6
88_         6
86_         6
29          5
12          5
80_         5
81          4
106         4
79          4
26_         4
13          4
19          3
22          3
86          3
22_         3
111         3
81_         3
79_         3
19_         3
28_         3
101         3
25_         3
25          2
21          2
112         2
10          2
104         2
18_         2
20_         2
89_         2
91_         2
83_         2
82_         2
107         2
8           2
85_         1
17_         1
114         1
12_         1
17          1
85          1
88          1
84_         1
16_         1
5           1
94          1
13_         1
90          1
96          1
14          1
7           1
2_          1
83          1
94_         1
89          1
0           1
14_         1
2           1
116         1
120         1
108         1
15          1
93          1
20          1
90_         1

In [205]:
# Convert to string to handle non-numeric characters
df['remaining term'] = df['remaining term'].astype(str)

# Remove underscores and extra spaces
df['remaining term'] = df['remaining term'].str.replace('_', '').str.strip()

# Convert back to numeric if all values are intended to be numeric
df['remaining term'] = pd.to_numeric(df['remaining term'], errors='coerce')


df['remaining term']

0        47
1        62
2        57
3        42
4        45
         ..
99995    29
99996    57
99997    53
99998    59
99999    47
Name: remaining term, Length: 100000, dtype: int64

In [206]:
df.marital_status.value_counts()

marital_status
married     44710
divorced    26465
single      25698
             3127
Name: count, dtype: int64

In [207]:
#setting ' ' values of marital status to Nan to handle them easily later
df.loc[df['marital_status'] == ' ', 'marital_status'] = None
df.marital_status.isna().sum()

3127

In [209]:
df['Loan Status'].value_counts()

Loan Status
Did not default    85134
Defaulted          14866
Name: count, dtype: int64

## Handle missing values

In [210]:
df.isna().sum()

gender                     0
disbursemet_date           0
currency                   0
country                  100
sex                        0
is_employed                0
job                     4136
location                 595
loan_amount                0
number_of_defaults         0
outstanding_balance        0
interest_rate              0
age                        0
number_of_defaults.1       0
remaining term             0
salary                     0
marital_status          3127
age.1                      0
Loan Status                0
dtype: int64

In [213]:
#since there is only one value zimbabwe for country column, we will fill NaNs to zimbabwe
# and later remove the column in feature selection
df.country.fillna('zimbabwe', inplace=True)